

header {
    margin: 0;
}

/* commenting out in css */


.nav-bg {
    height: 180px;
    background: url("../images/noticed.png");
     background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

.nav-bg2 {
    height: 180px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}



/* Navigation Menu */  
.ui-menu-color {
    background-color: black
}

.list-inline-item:not(:last-child) {
    margin: 0; 
}
.menucontainer {
    font-size: 0;
}

#nav li {
    margin-top: 68px;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    padding-right: 35px;

}

  /* Middle Section for Carousel */  

.section {
    height: 360px;
    background: url("../images/wthtea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Exo", sans-serif;
    font-weight: 80;
    font-size: 20px;
}






  hr.each-section {
        border: 1px solid red;
 }


.footstyle {
    height: 180px;
    background-color: black;
    font-family: "Exo", sans-serif;
    font-weight: 80;
    font-size: 25px;
    color: whitesmoke;
}

#fineprint p {
    font-size: 0px;
    color: whitesmoke;
    text-align: center;
}