

header {
    margin: 0;
}

/* commenting out in css */

.bg-color
 {
    background-color: #000;
}
.logo {
    background: url("../images/shoebar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 260px;
    padding-left: 100px;
    height: 100%;
    width: 100%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.section {
    height: 460px;
    background: url("../images/wthtea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    word-spacing: 15px;
    margin-top: 20px;
    min-height: 152px;
    display: inline-block;
    color: rgb(212, 202, 202);
}
    
.list-inline-item {
    font-family: "Exo", sans-serif;
    font-weight: 80;
    font-size: 20px;
    margin-top: 150px;
    min-height: 205px;
    
    display: inline-block;
    color: #fff;
}

  hr.each-section {
        border: 1px solid red;
 }


.list-inline social-links {
        display: none;
}