

header {
    margin: 0;
}

/* commenting out in css */


.nav-bg {
    height: 150px;
    background: url("../images/noticed.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

.nav-bg2 {
    height: 150px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}



/* Navigation Menu */  

.list-inline-item:not(:last-child) {
    margin: 0; 
}
.menucontainer {
    font-size: 0;
}

#nav li {
    margin-top: 60px;
    font-size: 18px;
    text-align: center;
    padding-right: 35px; 
}

.navigation-menu a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 70;
    letter-spacing: 2px;
    text-shadow: 2px 2px whitesmoke;

}

  /* Middle Section for Carousel */  

.section1 {
    height: 460px;
    background: url("../images/wthtea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Exo", sans-serif;
    font-weight: 80;
    font-size: 20px;
}

.section2 {
    height: 460px;
    background: url("../images/jeans.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Exo", sans-serif;
    font-weight: 80;
    font-size: 20px;
}

.section3 {
    height: 460px;
    background: url("../images/tea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Exo", sans-serif;
    font-weight: 80;
    font-size: 20px;
}

.section4 {
    height: 460px;
    background: url("../images/navbar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Exo", sans-serif;
    font-weight: 80;
    font-size: 20px;
}



  hr.each-section {
        border: 1px solid red;
 }


.footstyle {
    height: 180px;
    background-color: black;
    font-family: "Exo", sans-serif;
    font-weight: 80;
    font-size: 25px;
    letter-spacing: 2px;
}

.footstyle h1 {
    margin-top: 30px;
    color: black;
    font-weight: 80;
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 1px whitesmoke;     
}


.footstyle p {
        color: whitesmoke;
        font-size: 10px;
}